.header {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
}

.navbar {
  padding-left: 0;
}

@media (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }
}

.nav-link {
  color: #7b7777;
  font-size: 18px;
}

#navbar-brand {
  color: #777777;
  font-size: 22px;
}
